<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Liste des Utilisateurs</title>
<link rel="stylesheet" href="/bootstrap1/css/bootstrap.min.css" />
<link rel="stylesheet" href="/bootstrap1/js/bootstrap.min.js" />
<link
  href="/mdb/css/mdb.min.css"
  rel="stylesheet"
/>
<script
  type="text/javascript"
  src="/mdb/js/mdb.min.js"
></script>
</head>
<body>
<br/>
	<div style="margin-left:300px;margin-right:300px">
<ul class="list-group">
  <li class="list-group-item"><span th:text="${utilisateur.nom}"></span></li>
  <li class="list-group-item"><span th:text="${utilisateur.prenom}"></span></li>
  <li class="list-group-item"><span th:text="${utilisateur.email}"></span></li>
  <li class="list-group-item"><span th:text="${utilisateur.adress}"></span></li>
  <li class="list-group-item"><span th:text="${utilisateur.age}"></span></li>
  <li class="list-group-item"><span><a th:href="@{/Utilisateur/supprimer/{id}(id=${utilisateur.id})}" class="btn btn-warning">
					Confirmer</a></span></li>

</ul>
		
					
		
	</div>
</body>